

/* body {
    background-color: #f3f6fd;
    font-size: 13px;
    font-weight: bold;
    color: rgb(189, 196, 203)
} */
.main-footer-container {
background: #250400;
margin: auto;
padding: 4%;
height: 300px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul>li {
    margin: 5px auto;
    padding: 2px;
    color:#C5CAE9;
    /* width: 200px; */
    /* position: absolute; */
width: 200px;
height: 22px;
left: 0px;
top: 72.94px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

display: flex;
align-items: center;

color: #FFFFFF;


}

ul>li:hover {
    /* color: #957bda; */
    cursor: pointer
}

hr {
    border-width: 3px
}

.card {
    padding: 2% 7%
}

.social>i {
    padding: 1%;
    font-size: 15px
}

.social>i:hover {
    color: #957bda;
    cursor: pointer
}

.policy>div {
    padding: 4px
}

.heading {
    width: 131px;
    height: 22px;
    left: 0px;
    top: -1px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;    
    display: flex;
    align-items: center;;
    letter-spacing: 1.3px;
    text-transform: uppercase;  
    color: #FFFFFF;
}




.divider {
    border-top: 2px solid
}

.footer-legal-privacy-cookie {
width: 179px;
height: 22px;
left: 0px;
top: 38.97px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
display: flex;
align-items: center;

color: #FFFFFF;

}

.icon-container {
    padding: 12px;
    width: 48px;
    height: 48px;
    left: 216px;
    top: 0px;
    background: rgba(255, 255, 255, 0.002);
    box-shadow: inset 0px 0px 0px 2px #333333;
    border-radius: 24px;
}