
.carousel-container {
  width: 100%;
  /* width: 1920px;
  height: 633px; */
}
.carousel-first-image {
  background: transparent;
  background: #250400; 
}
.firstSlide-header {
  display: block;
  width: 612px;
  height: 164px;
  margin-bottom: 120px;
  left: 654px;
  top: 1618px; 
  font-family: "Manrope";
  font-style: normal;
  font-weight: 200;
  font-size: 60px;
  line-height: 82px;
  text-align: center;
  text-transform: capitalize;

  color: #ffffff;
}
.carousel-buttons{
  display: block;
}
