.carousel {
  margin-top: 120px;
  margin-bottom: 120px;
}

.carousel-item img {
  height: 400px;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.carousel-caption h5 {
  left: 654px;
  top: 1618px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 200;
  font-size: 60px;
  line-height: 82px;
  text-align: center;
  text-transform: capitalize;

  color: #ffffff;
}

.left-arrow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 32px;
  height: 32px;
  left: calc(50% - 32px/2 + 620px);
  top: 1941px;
  border-radius: 16px;
  background: #ffffff;
}

.rigt-arrow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 32px;
  height: 32px;
  left: calc(50% - 32px/2 + 620px);
  top: 1941px;
  border-radius: 16px;
  background: #ffffff;
}

.indicator-buttons-active {
  width: 6px;
  height: 6px;
  left: 37px;
  top: calc(50% - 6px/2);
  background: rgba(255, 255, 255, 1);
  margin: 0px 1px;
  border-radius: 3px;
}

.indicator-buttons {
width: 6px;
height: 6px;
left: 27px;
top: calc(50% - 6px/2);

background: rgba(255, 255, 255, 0.5);
border-radius: 3px;
}

#indicator-button-0::before {
  content: "";
}
#indicator-button-1::before {
  content: "";
}
#indicator-button-2::before {
  content: "";
}
#indicator-button-3::before {
  content: "";
}
#indicator-button-4::before {
  content: "";
}
#indicator-button-5::before {
  content: "";
}

