    .welcome-frame-header {  
    font-family: "Manrope";
    font-style: normal;
    font-weight: 200;
    font-size: 60px;
    line-height: 82px;
    text-transform: capitalize;
    color: #000000;
  }
  
  .welcome-frame-text {
    margin-top: 32px;  
    font-family: "Manrope";
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    text-transform: capitalize;
  
    color: #000000;
  }