.select-visit-type-header {
  display: flex;
  flex-wrap: wrap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 200;
  font-size: 60px;
  line-height: 82px;
  text-transform: capitalize;
  color: #000000;
}

.select-visit-type-text {
  display: flex;
  flex-wrap: wrap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  line-height: 41px;
  text-transform: capitalize;
  color: #000000;
}
