.landing-container {
  position: relative;
  text-align: center;
  color: white;
}
.text-continer {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.landing-image-header-text {
  text-align: left;
  width: 612px;
  height: 164px;
  left: 211px;
  top: 435px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 82px;
  text-transform: capitalize;
  color: #ffffff;
}

.landing-image-header-content {
  text-align: left;
  width: 651px;
  height: 123px;
  left: 210px;
  top: 623px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  line-height: 41px;
  text-transform: capitalize;

  color: #ffffff;
}

@media (max-width: 991px) {
  .landing-container {
    flex-direction: column;
    align-items: center;
  }

  .landing-image {
    margin-bottom: 20px;
  }

  .landing-text-container {
    max-width: 60%;
    text-align: center;
  }
}

